div.lintx509PropertyValueBox {
  width: 64ch;
  word-wrap: break-word;
}

li {
  font-family: monospace;
  cursor: default;
}

.hidden {
  display: none;
}

li {
  list-style-image: url("dash.svg");
}

li.expandable {
  list-style-image: url("cross.svg");
}
